/* General styles for all menus */
.cbp-spmenu {
	background: #555;
	position: fixed;
}

.cbp-spmenu h1 {
	color: #e5e5e5;
	font-size: 18px;
	padding: 20px;
	margin: 0;
	background: #555;
}


.cbp-spmenu a {
	text-decoration:none;
	font-size: 18px;
}

.cbp-spmenu a:visited {color: #e5e5e5}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

.cbp-spmenu ul {
margin: 4px 0 4px -2px;
padding-left: 25px;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -340px;
}

.cbp-spmenu-right {
	right: -640px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 120px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}


body {
background: #444;
color:#e5e5e5;
font-size:18px;
margin:0 auto;
padding:0;
width:800px;
line-height:1.7em;
font-family:Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
text-align:left;
}


h1 {
border-bottom:2px solid #e5e5e5;
color:#fba919;
font-size:28px;
font-family:'Gentium Book Basic',Tahoma,Helvetica,Arial;
padding:50px 0 0 0;
}

h2 {
border-bottom:1px solid #e5e5e5;
font-size:22px;
color: #FD6363;
}

h3 {
border-bottom:1px solid #e5e5e5;
font-size:20px;
color: #F7E98D;
}

h4 {
font-size:18px;
color: #FAFAD4;
}

strong{
color: #FFF;
}

a {
color:#30AEF4;
}

a:visited{
color: #e5e5e5;
}

a:hover {
text-decoration:underline;
color: #f5a2c6;
}

a img {
border:0;
}


ul,ol,dl {
margin:2px 0 16px 0px;
}

ul ul,ol ol {
margin:4px 0 4px 10px;
}

li { padding:0 4px; color:#DDD; list-style: yes; }

ul.posts li span { float:right; font-family:'lucida grande','lucida sans unicode',Verdana,Tahoma,Arial,sans-serif; color:#888; }
ul.posts li a { font-weight:200;}

div#post ul li { list-style: square; }

blockquote {
border-left:10px solid #0383c9;
background: #333;
font-size:1.0em;
margin:20px 10px;
padding:8px;
padding-left:20px;

-webkit-border-radius: 10px; 
 -moz-border-radius: 10px; 
 border-radius: 10px; 
 -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5); 
 -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5); 
 box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5); 


}
blockquote span {
	display: block; 
	float: right;
	padding-right:20px;
}

code {
    font-family: "Consolas",Tahoma,Helvetica,"Microsoft YaHei",Arial,monospace,"Lucida Sans Unicode";
	background: #333;
	font-size:.9em;
	line-height: 1.2em;
	}

pre {
 background-color: #333; 
 color: #fff; 
 -webkit-border-radius: 5px; 
 -moz-border-radius: 5px; 
 border-radius: 5px; 
 -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5); 
 -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5); 
 box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5); 
font-family: "Consolas",Tahoma,Helvetica,Arial,monospace,"Lucida Sans Unicode";
width: auto px;
padding: 5px;
font-size:20px;
line-height: 1.5em;
clear:both;
/***下面是自动换行****/
white-space:pre;
white-space:pre-wrap;
word-break:break-all;
word-wrap:break-word;
}



/*** Footer ***/

#footer {
border-top:4px solid #dadada;
clear:both;
color:gray;
font-size:0.9em;
line-height:1.6em;
margin:0 auto;
padding:8px 0;
text-align:right;
}

#footer p {
margin:0;
padding:0;
}

#footer a {
color:#808080;
}

/*** Various classes ***/

table
  {
  margin:0px 0px 20px 0px;
  width:100%;
  border-collapse:collapse;
  }

td, th 
  {
  font-size:1em;
  border:1px solid  #888;
  padding:3px 7px 2px 7px;
  }

th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#666;
  color:#f4f4f4;
  }

tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }

.go-top {
display: block; 
right: 5%; 
position: fixed; 
bottom: 30px;
}

.footnotes {
color: #e5e5e5;
font-size: 16px;
}

.home {
display: block; 
right: 5.2%; 
top: 60px;
position: fixed; 
}


.toc {
display: block; 
right: 5%; 
top: 120px;
position: fixed; 
}


.theme {
display: block; 
right: 5%; 
position: fixed; 
bottom: 90px;
}